*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', 'sans-serif';
}

.swiper{
    width: 100%;
}

.swiper-wrapper{
    width: 100%;
    height: 10em;
    display: flex;
    gap: 20px;
    margin: 20px;
}

.specials_item{
    width: 10em;
    background: url('main-course.jpg');
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-position-y: -45px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.title{
    font-size: 1rem;
    font-weight: 500;
}

.container{
    max-width: 100%;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px 20px;
}

.item{
    /* display: grid; */
    position: relative;
    /* grid-template-columns: auto; */
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    height: auto;
}

.item img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.details{
    padding: 20px 10px;
    /* display: grid;
    grid-row-gap: 15px;
    grid-template-rows: 1fr 50px; */
}

.details .entry{
    display: grid;
    grid-template-columns: auto auto;
}

.details .entry .name{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.arrow-rotate{
    transform: rotate(180deg);
}

.price{
    font-weight: 600;
    font-size: 18px;
    text-align: right;
}

.details p{
    color: #6f6f6f;
    font-size: 15px;
    font-weight: 400;
    align-self: stretch;
}

.details button{
    background: #4285F4;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
    height: 50px;
} 

.show {
    display:block;
}

/* removing the text directly from css */

.dropdown{
    display: none;
}